In [0]:
import numpy as np
import pandas as pd
import matplotlib
%matplotlib inline
import seaborn as sns

In [0]:
data = pd.read_csv('data/blobs.csv')
data.head()

   Unnamed: 0          A          B  Category
0           0  11.391521  15.500657         0
1           1  12.291186  11.814287         1
2           2  11.131218  14.681950         0
3           3  11.632530  14.896019         0
4           4  12.442849  15.156339         0

## 01. Size and Transparency
Increase the **visibility** of your scatter plot with **smaller dots** and a **lower opacity**.
Create a plot with **both** techniques used at the same time.

## 02. Groups
Recreate this plot and use the `hue` option in seaborn scatter plot to **group by category**.

## 03. Faceting and Group Highlighting
Create a **grid** of scatter plots, with each group **highlighted**.

## Optional - 3D plot
Recreate this 3D plot with **Plotly**. Use this documentation page: https://plot.ly/python/3d-surface-plots/

The difficulty here will be to convert our **scatter plot** to a **density matrix** that will be used by **Plotly**.

Only do this exercise if you are done with the map exercise.